.song_detail main {
  margin: 0 auto;
  font-size: 18px;
}

.song_detail iframe {
  width: 100%;
  height: 100%;
}

.song_detail .frame_wrapper {
  position: relative;
  aspect-ratio: 16 /9;
}

.song_detail .under_video {
  display: flex;
  flex-direction: row;
}

.song_detail .under_video_text {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 18px;
}

.song_detail .uploaded_by .uploader {
  font-style: italic;
}
.song_detail .under_video_text .title {
  font-size: 24px;
}
.song_detail .uploaded_by,
.song_detail .source {
  font-size: 14px;
  color: var(--mauve11);
}

.song_detail a {
  text-decoration: none;
}

.song_detail {
  color: var(--mauve12);
}

.song_download {
  margin-left: auto;
  min-width: 350px;
}

.song_download .download_dropdown__item {
  width: 25%;
}

@media only screen and (max-width: 700px) {
  .under_video {
    flex-wrap: wrap;
  }

  .song_download {
    margin-top: 10px;
    width: 100%;
  }
}
