@import "@radix-ui/colors/violet.css";
@import "@radix-ui/colors/violetDark.css";
@import "@radix-ui/colors/mauve.css";
@import "@radix-ui/colors/mauveDark.css";
@import "@radix-ui/colors/gray.css";
@import "@radix-ui/colors/grayDark.css";

body {
  --primary: var(--violet9);
  --text: var(--mauve12);
  --textHover: var(--mauve9);
  --bg: var(--mauve2);
  background-color: var(--bg);
}
