.download_dropdown .trigger {
  background-color: var(--primary);
  width: 150px;
  height: 50px;
  color: white;
  font-size: 24px;
  border-radius: 10px;
  user-select: none;
}

.download_dropdown [role="menuitem"] {
  all: unset;
  color: var(--violet11);
  border-radius: 3px;
  display: flex;
  align-items: center;
  height: 30px;
  padding: 0 5px;
  position: relative;
  padding-left: 20px;
  user-select: none;
}

.download_dropdown.content {
  width: 150px;
  background-color: white;
  border-radius: 6px;
  padding: 5px;
  box-shadow: 0 8px 24px #1c2128;
}

.download_dropdown [role="menuitem"] {
  font-size: 18px;
}

.download_dropdown [role="menuitem"]:focus {
  background-color: var(--violet9);
  color: var(--violet1);
}

.download_dropdown [role="separator"] {
  background-color: var(--violet3);
  color: var(--violet1);
  height: 1px;
  margin: 5px;
}
