.download_dropdown {
  display: flex;
  flex-direction: column-reverse;
  border-radius: 5px;
  box-shadow: 2px 3px 8px 1px #aeaeae;
  overflow: hidden;
}

.download_dropdown__button {
  background-color: var(--violet9);
  cursor: pointer;
  width: 100%;
  color: white;
  user-select: none;
  font-size: 24px;
  border: none;
}
.download_dropdown__button:hover {
  background-color: var(--violet8);
}

.download_dropdown__group {
  z-index: 1;
}

.download_dropdown__item {
  background-color: var(--mauve3);
  border: none;
  padding: 8px;
  cursor: pointer;
}
.download_dropdown__item:last-of-type {
  border: none;
}

.download_dropdown .download_dropdown__item[data-state="on"] {
  background-color: var(--violet9);
  color: var(--mauve1);
}
.download_dropdown .download_hovered .download_dropdown__item[data-state="on"] {
  background-color: var(--violet8);
}

.download_dropdown__item:focus {
  background-color: var(--violet9);
}
.download_dropdown__item:hover {
  background-color: var(--violet8);
  color: var(--mauve4);
}
