.header {
  width: 100%;
  height: 50px;
  background-color: var(--violet9);
  color: var(--text);
}

.header__inner_wrapper {
  display: flex;
  height: 100%;
  align-items: center;
  gap: 20px;
}

.header__brand {
  font-size: 24px;
}

.header a {
  text-decoration: none;
  color: var(--mauve1);
  fill: var(--mauve1);
}

.header__upload_link {
  display: flex;
  font-size: 20px;
}

.header a:hover {
  color: var(--mauve8);
  fill: var(--mauve8);
}
