
.music_thumbnail {
  transition: transform 200ms;
}

.music_thumbnail:hover {
  transform: translateY(-5px) scale(1.005) translateZ(0);
  box-shadow: 0 24px 36px rgba(0,0,0,0.11),
    0 24px 46px grey;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.music_thumbnail__inner {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background-color: #FFFFFF;
  transition: background-color 150ms;
  text-align: center;
}

.music_thumbnail__img {
  height: 100%;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.music_thumbnail a {
  text-decoration: none;
  color: var(--grey12);
}

.music_thumbnail__text {
  margin-top: -55px;
  background-color: #FFFFFF;
  border-top: 2px solid #6E56CF;
  border-bottom: 1px solid #6E56CF;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  height: 100%;
}

.music_thumbnail__title {
  font-size: 16px;
  font-weight: 500;
}
.music_thumbnail__artist {
  color: var(--grey12);
  font-size: 12px;
  font-weight: 200;
  margin-top: 3px;
  margin-bottom: 10px;
}
