.music_thumbnail__inner {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 8px;
  background-color: var(--mauve3);
  transition: background-color 150ms;
}

.music_thumbnail__inner:hover {
  background-color: var(--violet5);
}

.music_thumbnail__img {
  height: 100%;
}

.music_thumbnail a {
  text-decoration: none;
  color: var(--grey12);
}
.music_thumbnail__title {
  font-size: 18px;
  font-weight: bold;
}
.music_thumbnail__artist {
  color: var(--grey12);
  font-size: 16px;
}
